*{
    margin: 0;
    padding: 0;
}
/* .header{
    background-color: #ffffff;align-items: center;
} */

.dropdown-toggle::after {
    display:none !important ;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .header .profile{display: flex;align-items: center;padding:4px 10px;}
  .profile span{padding: 11px;font-size:16px ;line-height: 18px;color: #000000;}
  .header .dropdown-menu{box-shadow: 0px 0px 14px 0px #00000012;padding: 10px;font-size: 15px;line-height: 18px;color: #3E3E3E;font-weight: 400;min-width: 140px;}
  .header .dropdown-menu .dropdown-item{padding: 10px;color: #3E3E3E;}
  #user{
    height: 40px;
    width: 40px;
    border-radius: 50%
  }
  button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.displayf{
    display: flex;
    align-items: center;
}
.row1{
    justify-content: space-between;
}
.side{
    display: flex;
    align-items: center;
    justify-content: end;
}
.search-bar{position: relative;display: flex;
  align-items: center;  }
.search-bar .form-control{border:1px solid transparent;color: #000;background: url("../images/bx_bx-search.svg") no-repeat;background-position: 12px center;width: 360px;font-size: 16px;line-height: 23px;padding: 12px 16px 12px 35px;}
.search-bar .form-control::-webkit-input-placeholder { color: #000; }
.search-bar .form-control:hover,.search-bar .form-control:focus,.search-bar .form-control:active{border:1px solid #ADADAD!important;transition: all 0.2s ease;}
.search-bar img{
    position: absolute;
}
.uline{
    border-bottom: 1px solid #E8E8E8;
}
.line{
    border-left: 1px solid #E8E8E8;

}
.filter{
    display: flex;
    
    align-items: center;
}
#offCanvas{
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 0px;
    z-index: 15;
    padding-top: 24px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    transition: .5s all ease;
    background-color: #E8E8E8;
    background: transparent(.2s ease);
   
}

.custom-navbar{
    display: flex;
}
#togglebutton{
    transition: .5s all ease;
    border: none;
    outline:none;

    
}
#togglebutton img{
    transition:  .5s all ease;
    transform: rotate(0);
}
.crd{
    padding: 0 !important;
    
}
.crd p{
    font-size: 12px;
    margin-bottom: 5px;
}
.rating{
    display: flex;
    justify-content: space-between;
}
.checked {
    color: orange;
  }

.labline {
    display: flex;
    flex-direction: row;
}
.labline label{
    font-size: 12px;
    padding: 5px;
}
.labline:before,
.labline:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #E8E8E8;
    margin: auto;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.info span{
    font-size: 11px;
}
.apply{
    border-color:  #F88634;
    color: #F88634;
    
}
.btn1{
    border: 1px solid #F88634;
    border-radius: 205px;
    width: 89px;
}
.location{
    position: absolute;
    background-color: #000000b3;
    border-radius: 25px;
    width: 90px;
    padding-left: 4px;
    text-align: end;
}
.location img {
    position: relative;
    width: 12px;
}
@media (max-width:800px) {
    .Profile span,.Profile .ic-down{display: none;} 
    
}
@media (max-width:660px){
    #comp{
        display: none;
    }
}
@media  only screen and (max-width:990) {
    #navbar2{
        width: 41px;
    }
    .displayf{
        padding-left: 0px;
    }
    
}
@media only screen and (max-width:400px) {
    #searc{
        width:180px
    }
    
}

@media only screen and (max-width:990px){
    .line{
        border-left: none;
    }
}
/* @media only screen and (max-width:920px) {
    .rating{
        flex-direction: column;
        justify-content: center;
    }
    
}
@media only screen and (max-width:890px) {
    .inform{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    
} */

.sbtn{
    text-decoration: none;color: #F88634;padding: 5px;

}
.btn2{
    border: 2px solid #F88634;
    border-radius: 205px;
    width: 171px;
}