@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Login page</title>
    
</head>
<body>
    <div class="container-fluid" style=" padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0) !important;">
        <div class="row no-gutters">
            <div class="col-lg-8">
              <div class="slideshow-container">

                <div class="mySlides fade">

                            <img src="Assets\Grow-Trees-On-the-path-to-environment-sustainability-login.png" style="width:100%;
                      object-fit: fill;" class="autoage imgg">
                     <div class="text"><h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3> <br>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusantium nam, voluptates magnam minus unde distinctio soluta, placeat ipsum voluptas tempora, reiciendis animi dolore voluptatibus explicabo deserunt necessitatibus eligendi aut.
                     

                  </div>
                </div>

                <div class="mySlides fade">

                  <img src="Assets\Grow-Trees-On-the-path-to-environment-sustainability-login.png" style="width:100%;
                  object-fit: fill;" class="autoage ">
                  <div class="text"><h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusantium nam, voluptates magnam minus unde distinctio soluta, placeat ipsum voluptas tempora, reiciendis animi dolore voluptatibus explicabo deserunt necessitatibus eligendi aut.
                    
                  </div>

                </div>
                <div class="mySlides fade">

                  <img src="Assets\Grow-Trees-On-the-path-to-environment-sustainability-login.png" style="width:100%;
                  object-fit: fill;" class="autoage imgg">
                  <div class="text"><h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusantium nam, voluptates magnam minus unde distinctio soluta, placeat ipsum voluptas tempora, reiciendis animi dolore voluptatibus explicabo deserunt necessitatibus eligendi aut.
                    
                  </div>

                </div>

                <div class="mySlides fade">

                  <img src="Assets\Grow-Trees-On-the-path-to-environment-sustainability-login.png" style="width:100%;
                  object-fit: fill;" class="autoage imgg">
                  <div class="text"><h3>Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusantium nam, voluptates magnam minus unde distinctio soluta, placeat ipsum voluptas tempora, reiciendis animi dolore voluptatibus explicabo deserunt necessitatibus eligendi aut.
                   
                  </div>

                 </div>
                    <div class="dotslide" style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
             </div>






            </div>

           <div class="col-lg-4 m-auto">

            <form action="">
                <div class="form-row">
                <div class="col-log-8">
                    <span>Email Address</span><br>
                    <input type="email" placeholder="enter your email" class="form-control my-1 p-2">
                </div>
              </div>
              <div class="form-row">
                <div class="col-log-8">
                    <span>Password</span><br>
                    <input type="password" placeholder="enter password" class="form-control my-1 p-2">
                </div>
            </div>
            <div class="form-row">
                <div class="col-log-8">
                    <button type="button" class="btn1 mt-2 mb-3"> login</button>
                </div>
            </div>

                 <div class="lost">
                 <a  class="link " asp-controller="Home" asp-action="forgot" style="text-decoration: none;color: #414141;">Lost your password?</a>                
                </div>

                <div class="creat">
                  <p>Don’t have an account?</p>
                        <p><a asp-controller="Home" asp-action="registetion" style="text-decoration: none; " class="autoset">Create an account</a></p>
                    </div>
                <div class="policy">           
                <a href="" style="text-decoration: none;color:#414141;">Privacy Policy</a> 
                </div>     
              </form>
          </div>

        </div>
     </div>

     <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 3000); 
        }
        </script>
     

</body>
</html>
